@import "tailwindcss";

@font-face {
  font-family: 'pixelfont';
  src: url('/assets/fonts/ponde___.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-pixel {
  font-family: pixelfont, monospace;
}
